# Dependencies
node_modules
package-lock.json

# Build outputs
dist
dist-ssr
build
.vite

# Logs
*.log

# Environment files
.env
.env.local
.env.*.local

# Cache
.cache
.parcel-cache

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode
.idea

# Git
.git

# Public assets
public

